.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: auto;
}

.footer__info {
  padding-left: 20px;
}

.footer__info a{
    padding-right: 20px;
  }

.footer__autor {
  padding-right: 20px;
}


