.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: #03052e;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

/* titulo laraja #795548 
backgound 
background bar #24142e*/